body {
  font-family: poppins, sans-serif;
  color: #ccc;
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6, p, a{
  color: white;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 0.3em;
}

img {
  height: 65px; 
  padding: 10px;
  width: 190px;
  height: 65px;
}

form {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 250px;
}

form input[type="submit"] {
    padding: 10px;
    margin-top: 30px;
    text-align: center;

}

/* ------------------------------
Changing words
------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 20px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}


/* ------------------------------
Upload button styling
------------------------------ */
.upload {
  --color-black-softest: #485461; /* softer black */
	--color-black-soft: #363F48; /* softer black */
	--color-black-hard: #2d353c; /* harder black */
	--color-black-hardest: #21282e; /* hardest black */
	--color-green-light: #65cca9; /* light green */
	--color-green: #29b586; /* medium green */
  --ease-in-out-quartic: cubic-bezier(0.645, 0.045, 0.355, 1);

  position: relative;
  display: inline-flex;
  background: #485461;
  border-radius: 10px;
  box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.02),
    0 4px 3.3px rgba(0, 0, 0, 0.028), 0 7.5px 6.3px rgba(0, 0, 0, 0.035),
    0 13.4px 11.2px rgba(0, 0, 0, 0.042), 0 25.1px 20.9px rgba(0, 0, 0, 0.05),
    0 60px 50px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transform: rotate(0);

  &-info {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-right: 40px;
    fill: #fff;
    color: #fff;
  }

  &-filename {
    color: white;
    padding-left: 8px;
    transition: opacity 300ms ease;
    &.inactive { opacity: 0.6; }
  }
  
  &-button {
    position: relative;
    margin: 0;
    font-size: 100%;
    padding: 0 8px;
    background: none;
    border: none;
    border-radius: inherit;
    outline: none;
    
    &-text {
      padding: 8px 16px;
      color: white;
      background-color: var(--color-green);
      border-radius: inherit;
      outline: none;
      cursor: pointer;
      transition: background-color 200ms ease, box-shadow 300ms ease;
      
      &:hover, &:focus { background-color: var(--color-green-light); }
      
      &.inactive { background-color: rgba(255, 255, 255, 0.38); cursor: not-allowed; }
    }
  }

  &-hint {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    transform: translateY(100%);
  }

  &-progress {
    position: absolute;
    top: 90%;
    left: -100%;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(270deg, rgba(135,224,194,1) 0%, rgba(101,204,169,1) 50%, rgba(38,176,130,1) 100%);
    transform-origin: left;
  }

  &.uploading {
    .upload-button-text { animation: fade-up-out 0.4s 0.4s forwards, button-pulse 500ms forwards; }
    .upload-info > * { animation: fade-up-out 0.4s 0.4s forwards; }
    .upload-hint { animation: fade-up-in 0.4s 0.8s forwards; }
    .upload-progress {
      animation: load-right 2s 1s var(--ease-in-out-quartic) forwards;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes button-pulse {
  from { box-shadow: 0 0 0 0 var(--color-green-light); }
  to { box-shadow: 0 0 0 8px rgba(255, 255, 255, 0); }
}

@keyframes fade-up-out {
  to {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes fade-up-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes load-right {
  0% { left: -100%; }
  50% { left: 0; }
  100% { left: 100%; }
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  cursor: pointer;
}


.drop-area {
  border: 1px solid var(--color-black-softest);
  
  &.droppable { border: 1px dashed rgba(255, 255, 255, 0.6); }
  &.highlight { border: 1px dashed var(--color-green); }
}

.send-button {
  --color-green: #29b586; /* medium green */
  --color-green-light: #65cca9; /* light green */

  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;

  transition: background-color 200ms ease, box-shadow 300ms ease;
  background-color: var(--color-green);
  &:hover, &:focus { background-color: var(--color-green-light); }
  &.inactive { background-color: rgba(255, 255, 255, 0.38);}
}

.send-button:disabled {
  cursor: not-allowed;
  color: linen;
  opacity: 0.5;
  &:hover, &:focus { background-color: var(--color-green); }
}


/* ------------------------------
Styling for the rest of the page
------------------------------ */
.wrapper {
  text-align: center;
  
  .upload-wrapper {
    display: inline-block;
    margin: 2rem auto 0; // Centering the upload element
    // place at the center of the page
    position: absolute;
    top: 40%;
    left: 40%;
  }
}
