<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>

    {% load static %}
    {% load compress %}
        <link type="text/css" href="static/upload_success.css" rel="stylesheet" media="screen"/>
        <link type="text/css" href="static/normalize.css" rel="stylesheet" media="screen">
        <link rel="icon" href="{% static 'favicon.ico' %}" />

    <link rel="icon" href="{% static 'favicon.ico' %}" />

</head>
<body>
    <h4>Le fichier "{{ uploaded_file }}" a été analysé avec succès </h4>
    <a href="{% url 'home' %}">Home</a> <!--Link to home-->

    <table class="custom-table">
        <tbody>
            <tr>
                <td>
                    <img src="{% static 'antivirus/ClamAV.png' %}" loading="lazy" alt="ClamAV logo">
                </td>
                <td><p>{{result_ClamAV}}</p></td>
            </tr>

            <tr>
                <td>
                    <img src="{% static 'antivirus/Comodo.png' %}" loading="lazy" alt="Comodo logo">
                </td>
                <td><p>{{result_Comodo}}</p></td>
            </tr>

            <tr>
                <td>
                    <img src="{% static 'antivirus/RKhunter.jpg' %}" loading="lazy" alt="RKhunter logo">
                </td>
                <td><p>{{result_RKhunter}}</p></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
